.caption {
    background-color: black;
    padding: 0.2em 1em;
    font-variant: small-caps;
    margin: 0;
    width: 100%;
}

.codeBox {
    background-color: red;
    background-color: #151515;
    width: 25%;
}
