.itemTable {
    width: 100%;
    border-collapse: collapse;
}

.itemRow {
    &:nth-child(odd) {
        background-color: #333;
    }

    &:nth-child(even) {
        background-color: #444;
    }

    &:hover {
        background-color: #558;
    }

    border-bottom: #AAA 1px solid;
    user-select: none;

    & .userData {
        padding: 5px 2em;
    }

    & .itemDescription {
        text-align: left;
    }

    & .itemPrice {
        text-align: right;
    }

    & .itemId {
        text-align: left;
    }

    & .itemCharity {
        text-align: center;
    }

    & .itemDonation {
        text-align: center;
    }

    & .itemCategory {
        text-align: left;
    }

    & .itemSeller {
        text-align: center;
    }

    & .itemAddedAt {
        text-align: left;
    }

    & .itemCopy {
        text-align: center;
    }
}