.container {
    border: 2px solid #555;
}

.caption {
    background-color: #555;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0.5em;
    user-select: none;
}

.childContainer {
    padding: 1em;
}

.captionContainer {
    display: block;
    justify-content: stretch;
    cursor: pointer;
}