.itemTable {
    width: 100%;
    border-collapse: collapse;
}

.itemRow {
    &:nth-child(odd) {
        background-color: #333;
    }

    &:nth-child(even) {
        background-color: #444;
    }

    &.alreadySold {
        font-weight: bold;
        color: red;
    }

    border-bottom: #AAA 1px solid;
    user-select: none;

    & .userData {
        padding: 5px 2em;
    }

    & .itemDescription {
        text-align: left;
    }

    & .itemPrice {
        text-align: right;
    }

    & .itemId {
        text-align: left;
    }
}
