.itemTable {
    width: 100%;
    border-collapse: collapse;
}

.itemHeaderRow {
    border-bottom: 2px solid white;
}

.itemRow {
    user-select: none;

    &:nth-child(odd) {
        background-color: #333;
    }

    &:not(:last-child) {
        border-bottom: solid 1px white;
    }

    &:nth-child(even) {
        background-color: #444;
    }

    &.alreadySold {
        font-weight: bold;
        color: red;
    }

    & .userData {
        padding: 5px 2em;
    }

    & .itemDescription {
        text-align: left;
    }

    & .itemPrice {
        text-align: right;
    }

    & .itemId {
        text-align: left;
    }
}
